$PrimaryColor: #286efa;
$ErrorColor: #f54a4a;
$FontColor: #727272;
$PrimaryFont: "Oswald", sans-serif;
$SecondaryFont: "Open Sans", sans-serif;
$Background: rgba(253, 253, 253, 0.7);
$InputColor: rgb(228, 228, 228);
$white: #ffffff;
$black: #0c0c0a;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
//Header
header {
  font-size: 16px;
  position: fixed;
  z-index: 99;
  width: 100%;
  font-weight: "700";
  // background: white;

  .header-container {
    padding: 1rem;
    .row {
      height: 90px;
      display: flex;
      justify-content: space-between;
      .logo {
        a {
          font-family: $PrimaryFont;
          color: $black;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
      .menu {
        color: $white;
        cursor: pointer;
        border-radius: 100%;
        border: 2px solid $white;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $white;
          background: $black;
          border-color: $black;
        }
      }
    }
  }
}
//home
.home-conatiner {
  background: $PrimaryColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
.home-logo {
  color: white;
  font-size: 5rem;
  font-family: $PrimaryFont;
  text-align: center;
  letter-spacing: 1px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: $Background;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.form-container {
  width: 60vw;
  position: relative;
  background-color: $Background;

  @media only screen and (max-width: 768px) {
    width: 100vw;
    height: 100%;
  }
}
.link-text {
  font-family: $SecondaryFont;
  font-size: 0.9rem;
  margin: 1.5rem 0;
}

.links {
  text-decoration: none;
  color: $PrimaryColor;
  font-weight: 700;
}
.inputContent-btn {
  width: 100%;
  height: 45px;
  background-color: $PrimaryColor;
  color: white;
  border: none;
  border-radius: 5px;
  &:hover {
    transform: scale(0.9);
  }
  &:focus {
    transform: scale(0.9);
  }
}

.blue-container {
  background-color: $PrimaryColor;
  color: white;
  width: 40vw;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;

  @media only screen and (max-width: 768px) {
    width: 100vw;
    height: 100%;
  }

  .blueLogo {
    font-size: 3rem;
    padding: 10px;
  }
  .blue-container-desc {
    margin-top: 20px;
  }
}
